test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cea10f65-a981-4f89-aa9d-ebe3af65aa8c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="80795d1a-1481-4e2e-ae88-b259ec66d411" >
		<http:listener doc:name="Listener" doc:id="752a3773-4c53-46aa-9aab-b549462fe71a" config-ref="HTTP_Listener_config" path="/batch"/>
		<logger level="INFO" doc:name="Logger" doc:id="87225ff3-d82f-400e-bc31-1ba2a04b1cdd" />
		<set-payload value="#[[1,2,3,4,5]]" doc:name="Set Payload" doc:id="3d4d0458-1373-4e45-a26e-8fa4e7d52e1d" />
		<batch:job jobName="testBatch_Job" doc:id="e778d0d4-4b05-4d6e-b7bf-e700546e013d" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="9e3d806f-21fc-4766-a34b-17027746716c" acceptPolicy="ALL">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="3eeadf00-d378-4116-b37e-3635b8042283" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="51343f8c-fa58-4d7e-b648-2c20250f65a2" />
					</batch:aggregator>
					<db:insert doc:name="Insert" doc:id="685b5738-a85e-433e-aee1-8495ee883a2e" />
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="c3fe9463-b214-497a-919b-a3a1072af310" acceptPolicy="ONLY_FAILURES"/>
				<batch:step name="Batch_Step3" doc:id="af14fcaf-8eaa-4d4d-8351-115b34553627" acceptPolicy="ALL"/>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="2cf546e6-40d5-4e68-9740-86c1a40c69f1" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
